* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 55px;
  margin: 4px;
  color: #fff;
  border-radius: 12px;
  width: 123px;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 8px;
  cursor: pointer;
  background-color: green;
}

.number {
  font-size: 88px;
  text-align: center;
}

